* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ---------- Header --------- */
header {
  height: 90px;
  padding: 10px 30px;
}

#logo {
  vertical-align: middle;
  height: 60px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 50px;
}

/* ----------- Main ------------*/
main {
  background-color: #f6f8f9;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-top: 40px solid #f6f8f9;
  border-bottom: 10px solid #f6f8f9;
}

/*buttons*/
.buttons {
  padding: 10px 5px;
  border-bottom: 5px solid #f6f8f9;
  padding-left: 100px;
}

button {
  width: 100px;
  padding: 10px 2px;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
}

#butt-addTask {
  background-color: #14aaf5;
  color: white;
}

#butt-addSection {
  background-color: white;
  border: 1px solid #c4cbd0;
  color: #c4cbd0;
}

/* main section */
.main-sect {
  padding-left: 100px;
}

section {
  margin-top: 40px;
}

/* section New Task */
.back-triangle {
  font-size: 15px;
}

.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #2dc6ab;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #2dc6ab;
  margin-right: 10px;
}

.testo,
li {
  font-size: 20px;
}

.endline-elem {
  display: inline-block;
  width: 90px;
  height: 30px;
  background-color: #14aaf5;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  color: white;
  margin-left: 10px;
}

.row,
li {
  margin-top: 20px;
}

ul {
  list-style: none;
}

.check-li::before,
.cross-li::before {
  content: "\2713";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #2dc6ab;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #2dc6ab;
  margin-right: 10px;
}

.cross-li::before {
  content: "\2717";
  border: 1px solid #ff3f3f;
  color: #ff3f3f;
}

.endline-blue::after,
.endline-purple::after,
.endline-green::after,
.endline-orange::after {
  content: "Editorial";
  display: inline-block;
  width: 90px;
  height: 30px;
  background-color: #14aaf5;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  color: white;
  margin-left: 10px;
  font-size: 16px;
}

.endline-purple::after {
  content: "Q1 goals";
  background-color: #ab5de6;
}

.endline-green::after {
  content: "Recruiting";
  background-color: #2cc6ab;
}

.endline-orange::after {
  content: "Mobile";
  background-color: #ff9b00;
}
